@import './vendors';
@import './variables';
@import './common';
@import './mixins';

/* ===================================================== Ganzin Sergey ============================== */

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.main {
    flex: 1;
}


/* ================ Шапка ============================== */
.header {
    background: #F8F6F7 url('./images/header-bg.png');
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    .container {
        position: relative;
        padding: 30px 0 130px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;

        @include _768() {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__social {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}


.logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}


.navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}


.navigation__item:not(:last-child) {
    margin-right: 28px;
}


.navigation__link {
    font-size: 14px;
    font-weight: 600;
    transition: .15s color;
}


.navigation__link:hover {
    color: $green;
}


.nav_link_text:hover {
    text-decoration: underline;
}


.phone-info {
    display: flex;
    flex-direction: column;
    text-align: right;
}


.phone-info a,
.navigation a {
    color: #333;
}


.phone-info a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}


.phone-info span {
    font-size: 11px;
}


.hero {
    max-width: 540px;
    position: relative;
    z-index: 2;
}


.btn {
    border: none;
    background-color: #FB9475;
    outline: 0;
    color: #FFFFFF;
    padding: 10px 20px;
    max-width: 203px;
    border-radius: 15px; 
    text-align: center;
    font-size: 12px;
}


.social-view {
    height: 28px;
    width: 28px;
    opacity: 40%;
}


.social-view:hover {
    transform: scale(120%);
    transition: .30s;
}


.social {
    padding: 0;
    list-style: none;
    display: flex;

    &__li:not(:last-child) {
        margin-right: 10px;
    }

}

.social__vertical {
    flex-direction: column;
}


.social__vertical li:not(:last-child) {
    margin-right: 10px;
}


.girl {
    width: 372px;
    height: 372px;
    border-radius: 50%;
    background-color: #FB9475;
    margin: auto;
    position: absolute;
    right: 81px;
    bottom: -80px;
}


.girl-image {
    width: 410px;
    height: 420px;
    margin: -118px -38px;
}


/*=============== MAIN =================================*/

.about {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;   
}

.about__text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.video {
    min-width: 297px;
    max-width: 445px;
    width: 100%;
    height: 297px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: 0;
    cursor: pointer;
}


.video-overlay {
    background: #000;
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}


.video svg {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}


.video:before {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: url('./images/play.svg') no-repeat center;
    z-index: 3;
    transition: 0.15s;
}

.video:after {
    content: 'Короткое видео о нас';
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 168px;
    left: 0;
    right: 0;
    color: #fff;
}


.video:hover svg path {
    stroke: yellow;
}

/* ================== Информация  ================ */
.work {
    display: flex;
  }

.work-information {
    margin-top: 105px;
    display: flex;
    flex: 1;
}

.work-information__item {
    min-height: 170px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* ================= Популярные услуги ============== */

.popular {
     margin-top: 100px;
}

.popular__items {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.popular_block {
    margin: 10px 15px;
    max-width: 30%;
}
.popular-image {
    border-radius: 8px;
    max-width: 80%;
    height: 180px;
}


.services_and_price {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

/*====================== Услуги и цены ==================*/

.price {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.price_block {
    margin-top: 50px;
    display: flex;
    min-width: 50%;
}


.price_text {
    width: 50%;
    margin: 0;
    
}
.price_point {
    width: 50%;
    
}

 .text_price_point {
    color: #21694f;
    font-size: 20px;
    font-weight: bold;
}
/*======================== Мастера =====================*/
.masters {
    background-color: #F8F6F7;
    max-width: 1100px;
  }

.masters_team {
    display: flex;
    justify-content: space-between;
  }

.master_photoblock {
    width: 100%;
    height: auto;
    position: relative;
    line-height: 0;
  }
.master_photoblock img {
    width:100%;
    height: auto;
  }
.master_photoblock:after {
    position: absolute;
    left: -9999px;
    top: 0;
    opacity:0;
    content: 'Записаться к мастеру';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    width:100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(0,0,0,.5);
    transition: opacity .33s;
  }
.master_photoblock:hover:after {
    opacity: 1;
    left:0;
  }
.photo_block {
    max-width: 25%;
    margin: 20px 15px;
    overflow:hidden;
    transition: transform 0.2s;
    border: none;
    background-color: transparent;
  }
.image_class_photo {
    max-width: 80%;
    max-height: 80%;
  }
  
.image_class_photo:hover {
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s;
  }
.photo_block_text {
      
  }
.master__text{
    margin-top:50px;
  }
/*=================== Работа ====================*/

.section__header {
    display: flex;
    justify-content: space-between;
}
.sector__actions {
    
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}

.Prev,.Next{
    width: 30px; 
    height: 30px; 
    border: 0px; 
}
.slider {
    &__item{
        padding: 0 15px;
        
        img {
            width: 100%;
        }

    }
}

/*================== Бренды ===========*/

.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.brands_logo {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}


.brands_logo_style {
    
    opacity: 40%;


}


.contacts {
    margin-top: 30px;


    background-color: #F8F6F7;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.contacts_info {
    margin: 30px 0 0 30px;
}


.we_are {
    margin-top: 40px;
}


.records {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px;
    height: 405px;
    width: 445px;
    background-color: white;
    border: none;
    border-radius: 10px;
}


.form_style {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input_style {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border-color:darkgray;
    margin-top: 20px;
}


.input_form_style {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}


.btn_records {
    margin-top: 20px;
    max-width: 100%;
    width: 80%;
}
/*======================================================= Slader =============================*/




/*======================================================= Подвал =============================*/


.info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
 
}
.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}




.confidition {
    color: #278AFF; 
    text-decoration: underline;
}


.navigation__link_text_size {
    font-size: 12px;
}




/* ================================ text FONT-SIZE================================= */
.text_twenty_400 {
    font-size: 20px;
    font-weight: 400, Regular;    
}
.text_twenty_600 {
    font-size: 20px;
    font-weight: 600, Semi Bold;    
}


.text_eighteen_600 {
    font-size: 18px;
    font-weight: 600, Semi Bold;    
}


.text_eighteen_500 {
    font-size: 18px;
    font-weight: 500, Semi Bold;    
}


.text_sixteen_400 {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400, Regular;    
}


.text_fourteen_500 {
    font-size: 16px;
    font-weight: 500, Semi Bold;    
}


.text_twelve_400 {
    font-size: 12px;
    font-weight: 500, Regular;    
}


.text_twelve_300 {
    margin-top:30px;
    font-size: 12px;
    font-weight: 300, lighter;    
}


.text_bold {
    font-weight: bold;
}
.text_align_center {
    text-align: center;
}

@import './media';


.tabs { 
    &__links { 
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            margin-right: 20px; 
            font-size: 14px;  
            font-weight: bold;
        }
        
      .active { 
        color: #00BF78; 
        font-size: 14px;
        font-weight: 600;
        transition: .15s color;
      } 
    } 
     
    &__item { 
      display: none; 
       
      &.active { 
        display: block; 
      } 
    } 
  }